/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: 'Prata'; /* Usando fonte mais limpa e sofisticada */
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    line-height: 1.6;
}

#introducao {
    position: relative;
    width: 100%;
    height: 90vh; /* Mantém altura reduzida */
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.4), /* Gradiente escuro transparente no topo */
            rgba(0, 0, 0, 0.7) /* Gradiente mais escuro no centro */
        ),
        url('images/pexels-cottonbro-5052875.jpg'); /* Sua imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
    z-index: 1;
    margin-bottom: -4px; /* Remove o espaço indesejado */
}


.introducao-content {
    max-width: 700px;
    padding: 1.5rem;
    z-index: 2;
}

.introducao-content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: #ac8b53;
}

.introducao-content p {
    font-size: 1.1rem;
    margin: 0 auto;
    line-height: 1.6;
    max-width: 80%;
    font-weight: 400;
}

/* Shape Divider */
.custom-shape-divider-bottom-1731443743 {
    position: absolute;
    bottom: -9px; /* Coloca o shape um pouco acima para esconder o espaço */
    left: 0;
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider-bottom-1731443743 svg {
    width: 100%;
    height: 100px; /* Reduzido para acompanhar a nova altura */
}

.custom-shape-divider-bottom-1731443743 .shape-fill {
    fill: #fff;
}

/* Seção de Objetivo */
#meu-objetivo {
    background-color: #fff; /* Fundo branco para combinar com a introdução */
    padding: 4rem 2rem; /* Ajuste do padding para menor espaçamento */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhamento ao topo */
    height: auto; /* Altura automática para se adaptar ao conteúdo */
    position: relative;
    width: 100%;
}

.objetivo-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    padding: 2rem 1rem;
    
}

.objetivo-title {
    flex: 1;
    align-self: flex-start; /* Alinha ao topo do container */
    padding-top: -1rem; /* Ajuste do espaçamento */
    margin-right: 2rem;
}

.objetivo-title h2 {
    font-size: 2.5rem; /* Tamanho de fonte reduzido */
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    text-transform: uppercase;
    position: relative;
}

.objetivo-title h2::after {
    content: "";
    display: block;
    width: 30%; /* Linha mais curta */
    height: 2px;
    background-color: #007BFF; /* Cor de destaque */
    margin-top: 0.5rem;
}

.objetivo-text {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.objetivo-text p {
    font-size: 1rem; /* Fonte reduzida */
    line-height: 1.6;
    max-width: 600px;
    color: #555;
}

/* Estilo do Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

body.scrolled header {
    background-color: #fff;
}

/* Animações e efeitos */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade */
@media (max-width: 768px) {
    .objetivo-container {
        flex-direction: column; /* Colocar título e texto em coluna em telas menores */
    }

    .objetivo-title h2 {
        font-size: 2rem; /* Tamanho menor do título */
    }

    .objetivo-text p {
        font-size: 0.9rem; /* Ajuste de tamanho da fonte */
    }
}


/* Seção de Etapas */
#etapa-1 {
    position: relative;
    width: 100%;
    height: 90vh; /* Manter altura similar à introdução */
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.4), /* Gradiente escuro transparente no topo */
            rgba(0, 0, 0, 0.7) /* Gradiente mais escuro no centro */
        ),
        url('images/pexels-ron-lach-9809814.jpg'); /* Sua imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
    z-index: 1;
    margin-bottom: -4px; /* Remove o espaço indesejado */
}

.etapa-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    padding: 2rem 1rem;
}

.etapa-title {
    flex: 1;
    align-self: flex-start; /* Alinha ao topo do container */
    padding-top: -1rem; /* Ajuste do espaçamento */
    margin-right: 2rem;
}

.etapa-title h2 {
    font-size: 2.5rem; /* Tamanho de fonte reduzido */
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1; /* Garante que o título fique acima da linha azul */
}

.etapa-title h2::after {
    content: "";
    display: block;
    width: 30%; /* Linha mais curta */
    height: 2px;
    background-color: #007BFF; /* Cor de destaque */
    position: absolute;
    bottom: -0.5rem; /* Ajusta a posição da linha para ficar abaixo do título */
    left: 50%;
    transform: translateX(-50%); /* Centraliza a linha em relação ao título */
}


.etapa-content {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.etapa-content h3 {
    font-size: 10.6rem; /* Tamanho da fonte maior */
    font-weight: 700;
    color: #8e7a58; /* Cor dourada para destaque */
    margin-bottom: 1rem;
}

.etapa-content p {
    font-size: 5.5rem; /* Fonte reduzida */
    line-height: 1.6;
    max-width: 600px;
    color: #ffffff;
}

/* Shape Dividers */

.custom-shape-divider-bottom {
    position: absolute;
    bottom: -9px; /* Coloca o shape um pouco acima para esconder o espaço */
    left: 0;
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider-bottom svg {
    width: 100%;
    height: 100px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #fff;
}

/* Estilo do Carrossel */
.carrossel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 2rem 0; /* Espaçamento entre as etapas */
    display: flex;
    justify-content: center; /* Alinha o carrossel no centro */
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Deslizar suavemente */
    width: 100%; /* Assegura que o carrossel ocupe 100% da largura */
}

.carrossel-item {
    min-width: 100%; /* Cada item ocupa 100% da largura do container */
    box-sizing: border-box;
    text-align: center;
    padding: 2rem; /* Ajuste de padding para uma melhor apresentação */
}

.carrossel-item h3 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #ac8b53;
}

.carrossel-item p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #ffffff;
    max-width: 90%; /* Limita a largura para evitar que o texto fique muito largo */
    margin: 0 auto; /* Centraliza o texto */
}

/* Estilo das setas do carrossel */
button.prev, button.next {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #ac8b53;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    color: #007bff;
}
